<%= render 'shared/errors', obj: @user %>

<div class="row">
	<div class="col-xs-12"> 
		<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :name %>
				</div>
				<div class="col-sm-8">
					<%= f.text_field  :name, class: "form-control", placeholder: "Enter username", autofocus: true %>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :email %>
				</div>
				<div class="col-sm-8">
					<%= f.text_field  :email, class: "form-control", placeholder: "Enter email" %>					
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :password %>
				</div>
				<div class="col-sm-8">
					<%= f.password_field  :password, class: "form-control", placeholder: "Enter password" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<%= f.submit(@user.new_record? ? "Sign up" : "Update my account", 
							class: 'btn btn-primary btn-lg') %>
				</div>
			</div>
		<% end %>

	</div>
</div>
