<div align="center" class="container">
  <h1 class="title">Chat</h1>
  <div id="messages">
    <%= render @messages %>
  </div>

  <form>
    <% if logged_in? %>
      <%= hidden_field_tag :user, current_user.id, :id => "user" %>
    <% end %>
    <input type="text" id="speaker" data-behavior="chat_speaker" placeholder="Type your message here and press [Enter]">
  </form>
</div>

<script>
  $("#messages").scrollTop($("#messages")[0].scrollHeight);
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>