$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
	background-image: asset-url('maxresdefault.jpg');
	background-repeat: no-repeat;
    //background-attachment: fixed;
    background-position: center; 
	background-size: 100% 100%;
}

#messages {
    height: 350px;
    max-height: 350px;
    max-width: 700px;
    overflow-y: auto;
    text-align: left;
    background-color: #cccccc;
    padding: 15px;
    border: 2px solid #737373;
    border-radius: 15px;
}

#speaker {
    margin-top: 10px;
    width: 700px;
    text-align: center;
    border: 2px solid #737373;
    border-radius: 15px;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron h2{
	padding-top: 30%;
	margin-bottom: 5px;
}

.jumbotron h3{
	margin-top: 5px;
	margin-bottom: 40px;
}

.jumbotron h2, .jumbotron h3{
	text-shadow: 0 0 2px black;
}

.jumbotron {
	background-image: asset-url('candle-cool-fire-firework-girl.jpg');
	background-position: center top;
	background-size: cover;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: 100%;
	min-height: 500px;
	min-width: 220px;
}

.jumbotron h2, .jumbotron h3 {
	color: #fff;
	border-color: #F2F2F2;
	text-align: center;
	letter-spacing: -1px;
	font-weight: bold;
}

.wrap {
	margin-left: 35%;
	width: 30%;
	height: 100%;
	display: table;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.button {
	font-size: 1.5em;
	//background-color: black;
	//border-color: black;
	//border: 1px solid #BFBFBF;
	vertical-align: middle;
	display: table-cell;
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	//font-size: 11px;
	text-transform: uppercase;
	//letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button:hover {
	//background-color: #2EE59D;
	//box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  	//color: #fff;
  	//transform: translateY(-7px);
  	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

footer {
	position: fixed;
	bottom: 0;
	margin: 0 ;
	background-color: #fff;
	width: 100%;
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover{
	color: 222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

.listing {
	list-style: none;
	padding-left: 0;
}

.float-left {
	float: left;

}

.float-right {
	float: right;
}

.username {
	padding-top: 5px;
	padding-bottom: 20px;
}

.inner {
	display: table;
    margin: 0 auto;
}

.createdby {
	margin-bottom: 10px;
}

.badge {
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.input_checkbox input {
	width: auto !important;
}
