<footer class="footer">
	<small style="margin-left: 20px;">
		<!-- Coypright &copy; <a href="https://www.udemy.com" target="_blank">The Complete Ruby On Rails Developer</a>
		by <a href="https://gitlab.com/diegoliveiras" target="_blank">Diego Oliveira</a> -->
	</small>
	<nav style="margin-right: 20px;">
		<ul> 
			<li>The Arcane Refuge 
			by <a href="https://gitlab.com/diegoliveiras" target="_blank">Diego Oliveira</a></li>
		</ul>
	</nav>
</footer>

