<!DOCTYPE html>
<html>
  <head>
    <title>Arcane Refuge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    
    <div class="container">

      <%= render 'layouts/alerts' %>
      <%= yield %>
      
      
    </div>
    
  </body>
  <%= render 'layouts/footer' %>
</html>
